@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
.input-width{
    width: 100%;
    max-width: 100px;
   
}

.input-center{
    display: block;
    margin: auto;
    text-align: center;
}


.products{
    width: 100%;
    max-width: 300px;
    background-color: rgb(255, 255, 255);
    color: #000000e8;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-flex{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.form_index{
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 90px;
    width: 800px;
    padding: 20px;
    
}