@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.App {
  text-align: center;
}

.registration, .login {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

input {
  width: 250px;
  height: 40px;
}

.page-header {
 background-image: url('/img/bg01.jpg');
  background-position: 50%;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Kanit', sans-serif;
}
.login{

  padding:  20px;
  background-color: #ffffff;
  border-radius: 15px ;
}
.signin{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.passwordforget{
    margin-top: 5px;
}
.passwordforget a{
    display: flex;
    justify-content: flex-end;
}

.navtab{

  position: fixed;
  bottom: 0;
  padding: 10px;
}

.status-bar{
  background-color: #3937c7;
  padding: 30px 0px 10vh 0px;
  border-radius: 50px 50px 0px 0px;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.status-out{
  margin: auto;
  margin-top: 20px;
  position: relative;
  z-index: 2;
  width:100%;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.671), 0 6px 20px 0 rgba(0, 0, 0, 0.425);
  padding: 40px ;
  border-radius: 15px;
}
.status{

 
  display: flex;
  justify-content: space-around;
  
}

.navbar-tracking{
  display: block;
  margin: auto;
  max-width: 320px;
  margin-bottom: 23px;

  border-radius: 10px 10px 10px 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.head{
  background-color: #E3ECFF;
  padding: 15px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main{
  font-family: 'Kanit', sans-serif;
  background-color: #ffffff;
  padding-bottom: 60vh ;
  
}
.status-icon{
  display: flex;
  align-items: center;
}
.status-icon p {
  font-size: 14px;
  margin-top: auto;
  margin-left: 12px;
  color:rgb(0, 0, 0);
  
}
.button_req{
  width: 100%;
  max-width: 600px;
  margin:5px
}
.status-request{
  padding: 30px 0px 10vh 0px;
  background-color: rgb(49, 97, 231);
  border-radius: 50px 50px 0px 0px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: -50px;
}

.status-request h2{
  padding: 0 0 10px 20px;
  color: #E3ECFF;

}

.status-driver{
  padding: 30px 0px 10vh 0px;
  background-color: rgb(47, 89, 204);
  border-radius: 50px 50px 0px 0px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: -60px;
}

.status-driver h2,h4{
  padding: 0 0 10px 20px;
  color: #E3ECFF;
}



.fa-gradient {
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(106, 183, 245)), to(rgb(79, 135, 255)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.fa-non{
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgb(56, 56, 56)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.name-tag{
  margin: 20px 0 0 0 ;
  text-align: center;
  font-size: 28px;
  color: #E3ECFF;
}

.hide-status{
  display: none;
}



.more-status-hide{
  margin: auto;
  position:relative; 
  margin-top: -65px;
  z-index: 1;
  width:95%;
  background-color:#70707075;
  padding: 40px ;
  border-radius: 15px;
  transition: all 550ms ease-out;
  
}

.more-status-show{

  margin: auto;
  position:relative; 
  margin-top: 12px;
  z-index: 1;
  width:100%;
  background-color:#ffffff;
  padding: 40px ;
  border-radius: 15px;
  transition: all 500ms ease-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.home{
    
    color: rgb(241, 165, 65);
    transition: 0.8s ease-out;
}


.request{

    color: rgb(65, 121, 241);
    transition: 0.8s ease-out;


}

.profile{
    
    color: rgb(65, 121, 241);
    transition: 0.8s ease-out;


}

.roll-appear{
  opacity:0;
}
.roll-enter{
  opacity:0;
}
.roll-enter-done{
  transform: rotate(720deg) scale(3);
  opacity:1;
  transition: transform 1000ms, opacity 1000ms;
}
.roll-exit{
  transform: rotate(720deg) scale(3);
  opacity:1;
}
.roll-exit-active{
  transform:rotate(0deg) scale(1);
  opacity: 0;
  transition: transform 1000ms, opacity 1000ms;
}

.img_driver{
  width: 100%;
  max-width:  200px;
  border-radius: 50%;
  display: block;
  margin:   auto;
}
#driver_1,#driver_2{
  display: block;
  margin:   auto;
  padding: 20px;
  
}
.driver_data a, h1 {
  padding: 10px;
}
.driver_data{
  text-align: center;
  color: #E3ECFF;
  text-decoration: none;
}

.request_nav{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.button-request {
 padding: 10px;
 background-color: #ffffff;
 border-radius: 15px;
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 color: #363636e8;
}


.request_time{
  display: flex;
  width: 100%;
  justify-content:space-between;
  
}
.request_today{
  display: flex;
  justify-content:space-around;
}
.request_today p{
  margin-bottom: 0px;
}
.icon_request{

  color: #ffffff;
  padding: 10px;
  width: 40px;
  height: 40px;
  background-color: #3771ee;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 100%;
}
.icon_request i{
 margin-bottom: 4px;
 margin-left: 4px;
}

.request_ui{
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}

.request_time_status{
  padding: 10px;
 background-color: #ffffff;
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 border-radius: 5px;
 color: #363636e8;
}


.request_main{
  height: 100vh;
  background-color: #ffffff;
  
}

.request_top_main{
  margin-top: 10px;
  padding: 0px;
  
  background-color: #ffffff;

 
}
.request_main_status{
  margin-top: 40px;
}
.request_main_status h5{
  margin: 0px; 
  margin-bottom: 20px;
  margin-top: 40px;
}

.input_request {
 
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 border-radius: 10px;
}
.input_requestcss{
  
}
.input_request_icon{
  margin-left: 5px;
  margin-top: 12px;
  position: absolute;
  color: #686868;
}

.input_request h5 {
  margin-top: auto;
}

.request_post {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 600px;
  border-radius: 15px;
  background-color: #3771ee;
  margin-top: 40px;
  padding: 20px;
  color: #f9fbff;
  
}

.request_post h5{
  text-align: center;
}

.request-item{
  display: block;
  margin: auto;
 padding: 10px;
 width:65px;
 height:65px;
 border-radius: 15px;
 background-color: #5f8ae9;
}

@media only screen and (min-width: 768px)  {
  .request-flex{
    
    justify-content: center;
  }
  
}


.request-item :hover{
  display: block;
   margin: auto;
  background-color: #f9fbff;
  transition: all 550ms ease-out;
 }

 .request-item-grid{
   
   max-width: 600px;
   margin: auto;
   margin-top: 20px;
   text-align: center;
   
 }

.request-flex{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  cursor: pointer;
  
}
.request-title2{
  color: #2c6fff;
  padding: 10px;
  border-radius: 15px;
  border: 1px  solid  #e8e8e8;
  
  
}
.request-title2 a{
  text-shadow: 2px 2px 5px #E3ECFF;
  
}
.request-title p{
  font-size: small;
 
  
}
.box{
  width: 100px;
  height: 80px;
  background-color: #ffffff00;
  border-radius: 15px;
 
}

.alert-box{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.alert-box-css{
  padding: 0px 7px 20px 7px;
  background-color: #2e62d3fd;
  border-radius: 10px;
}
.alert-box-css p{
  color: #E3ECFF;
  margin-bottom: 0;
  text-align: center;

}
.request-flex::-webkit-scrollbar {
  display: none;
}
.button-request-bar{
  margin: auto;
  margin-top: 30px;
  display: block;
  max-width: 600px;
  
  
}
.request-bar{
  display: flex;
  justify-content: space-evenly;
  
}
.button-request-send{
  background-color: #3771ee;
  padding: 10px;
  color: #E3ECFF;
  border-radius: 10px;
  border: none;
    
}

.button-request-send :hover{
  background-color: #3771ee;
  
}


.profile-desk{
  background-color: #ffffff;
  height: 100vh;
  padding: 0px;
  display: block;
  margin: auto;
  max-width: 500px;
}

.profile-name{
  background-color: #ffffff;
  padding: 0px;
  border-radius: 15px;
  margin-top: 40px;
  text-align: center;
  color: #1b4faf;
}
.profile-name p{
  font-size: 15px;
  text-align: center;
}

.logout-button{
  background-color: #e04451;
  border-radius: 5px;
  margin-top: 30px;
  padding: 4px;
  color: #f9fbff;
  border-color: #ffffff00 ;
}

.edit-button{
  color: #ff0015;
  background-color: #ffffff00;
  border-color: #e3ecff00;
}
.edit-profile{
  position: absolute;
  margin-left: 110px;
  margin-top: 0px;
  background-color: #ffffff;
  border: none;
  width: 25px ;
  height: 25px;
  border-radius: 50%;
}
.profile_top_main{
  text-align: center ;
  display: block;
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 150px;
  border-radius: 15px;
  background-color: #3771ee;
  margin-top: 0px;
  padding: 20px;
  color: #f9fbff;
  
}
.img_profile{
  margin-top: 35px;
  margin-left: -45px;
}
.profile-main{
  background-color: #ffffff;
}
.profile_pic{
  
  margin-top: -30px;
  display: inline-block;
 text-align: center;
}

.dotnav{
  font-size: 8px;
  position: absolute;
  color: #3771ee;
}

.dothome{
  margin: 30px 55% 0px 0px;
  transition: all 700ms ease-out;
}
.dotrequest{
  margin: 30px 0px 0px 8px;
  transition: all 700ms ease-out;
}
.dotprofile{
  margin: 30px 0px 0px 57%;
  transition: all 700ms ease-out;
}
@media only screen and (min-width: 390px) and (max-width:390px){
  .dothome{
    margin-left: -28%;
    transition: all 700ms ease-out;
  }
  .dotrequest{
    margin: 30px 0px 0px 8px;
    margin-left: 2px;
    transition: all 700ms ease-out;
  }
  .dotprofile{
    margin-left:29%;
    transition: all 700ms ease-out;
  }
  
}
@media only screen and (max-width:350px){
  .edit-profile{
    margin-left: 70px;
  }
}

.dropdownf{
  background-color: #E3ECFF;
  font-family: 'Kanit', sans-serif;
}
.dropdown-first{
  
  background-color: #ffffff;
}
.custom-file-input {
  display: block;
  margin: auto;
  width: auto;
  
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  font-family: 'Kanit', sans-serif;
  content: 'อัพโหลดรูป';
  color: rgb(255, 255, 255);
  display: inline-block;
  
  background: -webkit-linear-gradient(top, #517ffd, #5a86ff);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px rgb(0, 0, 0);
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}


.uploadbutton{
  font-family: 'Kanit', sans-serif;
  position: relative;
  margin-left:78%;
  margin-top: 12px;
  border: none;
  background: -webkit-linear-gradient(top, #517ffd, #5a86ff);
  color: white;
  font-weight: 700;
  font-size: 10pt;
  text-shadow: 1px 1px rgb(0, 0, 0);
  padding: 5px 8px;
  border-radius:5px;
  
}

.input_newpass{
  display: block;
  margin: auto;
  margin-top: 10px;
  
  border: none;
  border-bottom: 1px solid rgb(165, 165, 165);
}